################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/PortTester/v16
/PortTester/bin
/PortTester/obj
/PortTesterSetup/Debug
/PortTesterSetup/Release
